.fuel-with-delivery {
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 34px;
        .questionnaire__block {
            margin-bottom: 16px;
            width: 100%;
        }
        label {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
        }
        .questionnaire {
            width: 100%;
            margin-right: 71px;
            position: relative;
            .questionnaire__field{      
                .form-input{
                    border: 1px solid #D5D5D5;
                    height: 46px;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;  
                    margin-top: 8px;
                    margin-right: 10px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #565656;
                    width: 100%;
                    background: #fff;
                }
            }

        }
        input[type="range"] {
            -webkit-appearance: none;
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 5px;
            background-image: linear-gradient(#098FCF, #098FCF);
            background-repeat: no-repeat;
            position: absolute;
        }
        .calculator {
            min-width: 638px;
            width: max-content;
            background: #FFFFFF;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
            padding: 40px;
            display: flex;
            flex-direction: column;
            .calculator-total,
            .calculator-cost,
            .liter-head,
            .benefit-head {
                display: flex;
                justify-content: space-between;
                &__title {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 29px;
                }
                &__name {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    margin-bottom: 10px;
                }
            }
            .calculator__text {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #565656;
                width: 60%;
            }
            hr {
                width: 100%;
                border: 1px solid #E7E7E7;
                margin-top: 16px;
                margin-bottom: 16px;
            }
            .calculator-btn {
                width: 45%;
                button {
                    width: 100%;
                }
            }
        }
    }
}