.reviews {
    .swiper-reviews {
        display: grid;
    }
    &__block {
        display: grid;
        flex-direction: column;
        align-content: space-between;
        padding: 40px;
        text-align: start;
        height: 100%;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        text-align: start;
    }
    &__user {
        p{
            font-weight: 600;
            font-size: 15px;
            line-height: 18px; 
        }
    }
    &__firm {
        margin-top: 12px;
        width: 60%;
        p{
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #565656; 
        }
    }
    &__text {
        margin-top: 40px;
        p{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;  
        }
    }
    a {
        margin-top: 40px;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #098FCF;
    }
    &__all-rewiews {
        display: flex;
        justify-content: center;
    }
}