.parther {
    .swiper-partner > .swiper-wrapper {
        display: flex;
        align-items: flex-end;
    }
    hr {
        border: 1px solid #E7E7E7;
        margin-top: 48px;
        margin-bottom: 48px;
    }
}