.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;

    .nav__dropbtn {
        padding: 16px 0px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        display: flex;
        flex-direction: row;
        margin-right: 40px;
    }

    .nav__arrow {
        transition: 0.3s;
        margin-left: 4px;
    }
    
    .nav__dropdown {
        position: relative;
        display: inline-block;
    }
    
    .nav__dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: max-content;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .nav__dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .nav__dropdown-content a:hover {background-color: #f1f1f1}
    
    .nav__dropdown:hover .nav__arrow {
        transform: rotate(-180deg);
    }

    .nav__dropdown:hover .nav__dropdown-content {
        display: block;
    }
}